<html>
  <head>
    <title>Pxb</title>
    <script
      src="https://code.jquery.com/jquery-1.12.3.min.js"
      integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
      crossorigin="anonymous"></script>
      <script src = "/assets/postit.js"></script>
    <link href="/assets/styles.css" rel ="stylesheet" type="text/css"/>
    <nav>
      <ul>
        <li></li>
        <li><a href="pxb">Pixel Bulletin Board</a></li>
        <li><a href="msvis">Music Visualizer</a></li>
        <li><a href="fbubb">Floating Bubbles</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
</head>

<ul1>
<address>
Created by <a href="mailto:wem5637@gmail.com">Will</a>.<br>
Thanks for visiting.
</address>

</ul1>
<style>
ul {
  text-align: center;
  margin-top: 60px;
}
ul1 {
   text-align: center;
  margin-top: 60px;
}
ul1 li {

  text-align: center;
  list-style-type: none;
}
</style>
